{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
    <div class="offset-md-4 col-md-4 mt-4">
        <div class="h3">Profile</div>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{render_field(form.username)}}
            {{render_field(form.email)}}
            {{render_field(form.oldpassword)}}
            {{render_field(form.newpassword)}}
            {{render_field(form.confirmnew)}}
            {{form.submit(class="btn btn-primary")}}
        </form>
    </div>
</div>
{% endblock %}