<style>
    select {
        -webkit-appearance: listbox !important;
    }
</style>
{% extends "layout.html" %}
{% block title %}Checkout{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
    <div class="h3">Checkout</div>
    <div class="col-md-12 row">
        <div class="col-md-6">
                <form method="POST">
                    <table class="table caption-top table-borderless">
                        <tbody>
                            {{ form.hidden_tag() }}
                            <tr>
                                <td>{{render_field(form.firstName)}}</td>
                                <td>{{render_field(form.lastName)}}</td>
                            </tr>
                            <tr>
                                <td>{{render_field(form.streetaddress1)}}</td>
                                <td>{{render_field(form.streetaddress2)}}</td>
                            </tr>
                            <tr>
                                <td>{{render_field(form.state)}}</td>
                                <td>{{render_field(form.city)}}</td>
                            </tr>
                            <tr>
                                <td>{{render_field(form.country)}}</td>
                                <td>{{render_field(form.zipcode)}}</td>
                            </tr>
                            <tr>
                                <td colspan="100%">{{render_field(form.modeofpayment)}}</td>
                            </tr>
                            <tr>
                                <td colspan="100%">{{render_field(form.price)}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pull-right">
                                        {{form.submit(class="btn btn-primary pull-right")}}
                                        <a href="{{url_for('product.viewCart')}}" class="btn btn-danger">Go Back</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="col-md-6">
                <table class="table caption-top table-borderless">
                    <thead>
                        <tr>
                            <td class="text-center" colspan="4">Cart Items</td>
                        </tr>
                        <tr>
                            <th class="text-center">Product Name</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-end">Product Total</th>
                        </tr>
                    </thead>
                    <tbody>

                            {% if rows|length > 0 %}
                            {% set ns = namespace(total=0) %}
                            {% for row in rows %}
                            <tr>
                                {% set ns.total = ns.total + row['total_price'] %}
                                <td class="text-center"><a href="{{url_for('product.productview')}}?id={{row['product_id']}}">{{row['product_name']}}</a></td>
                                <td class="text-center">{{row['quantity']}}</td>
                                <td class="text-center">{{row['unit_price']}}</td>
                                <td class="text-end">{{row['total_price']}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td class="text-end" colspan="4">Grand Total: {{ns.total or 0}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="100%" class="text-center">No Item In Cart</td>
                            </tr>
                            {% endif %}
                    </tbody>
                  </table>
        </div>
    </div>
</div>
{% endblock %}